SPOTIFY_CLIENT_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NAVIDROME_URL=http://localhost:4533
NAVIDROME_LIBRARY_PATH=
SPOTIFYBU_APP_SECRET=
SPOTIFYBU_CONFIG_DIR=
SPOTIFYBU_DATABASE_PATH=
SPOTIFYBU_SECURE_COOKIES=
SPOTIFYBU_AUTH_MODE=
