SPOTIFY_CLIENT_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
MUSIC_LIBRARY_URL=http://localhost:4533
MUSIC_LIBRARY_PATH=
PLEX_SERVER_URL=http://localhost:32400
PLEX_TOKEN=
PLEX_MUSIC_LIBRARY_KEY=
SPOTIFYBU_APP_SECRET=
SPOTIFYBU_CONFIG_DIR=
SPOTIFYBU_DATABASE_PATH=
SPOTIFYBU_SECURE_COOKIES=
SPOTIFYBU_AUTH_MODE=
